@model  IEnumerable<odeToFood.DL.Models.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

<h1>The best OdeToFoods Restaurants</h1>
<div class="container">
     @foreach (var restaurant in Model)
     {
         <div>
             <h2>@restaurant.Name</h2> 
             <span>@restaurant.City</span> , <span>@restaurant.Country</span> 
             @foreach (var review in restaurant.Reviews)
             {
                 <span>@review.Rating</span>
                 <label>@review.Description</label>
             }
         </div>
     }
</div>