@model  odeToFood.DL.ViewModels.RestaurantReviewsViewModel

<div>
    <h2>@Model.RestaurantName</h2>   Rating <span style="font-size:larger; color:blue">@Model.Rating</span> <br/>
     Location:  <span>@Model.City</span> , <span>@Model.Country</span>
    <div>
        <span>@Model.RateDescription</span>
    </div>
</div>